target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### 비어있는 디렉토리 유지용 ###
!resources/*
!repository/*
!dao/*
!dto/*
!service/*
!controller/*
!entity/*

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### MySQL Docker 데이터 볼륨 ###
db/data/

### MySQL 초기화 스크립트 디렉토리는 제외하지 않음 ###
!db/initdb.d/