<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shoppingmall.cart.dao.CartDao">
    <select id="selectCartByUserId" parameterType="int" resultType="com.example.shoppingmall.cart.domain.CartDto">
        SELECT
            c.cart_id AS cartId,
            c.user_id AS userId,
            c.item_id AS itemId,
            c.item_option_id AS itemOptionId,
            c.quantity,
            c.added_at AS addedAt,
            c.created_at AS createdAt,
            c.updated_at AS updatedAt,

            i.name AS itemName,
            i.image AS itemImage,
            i.price AS price,

            color.value AS colorOptionName,
            size.value AS sizeOptionName,
            io.additional_price AS additionalPrice
        FROM cart c
                 JOIN item_option io ON c.item_option_id = io.item_option_id AND c.item_id = io.item_id
                 JOIN item i ON c.item_id = i.item_id
                 JOIN `option` color ON io.color_option_id = color.option_id
                 JOIN `option` size ON io.size_option_id = size.option_id
        WHERE c.user_id = #{userId}
    </select>


    <insert id="insert" parameterType="com.example.shoppingmall.cart.domain.CartDto">
        INSERT INTO cart (user_id, item_id, item_option_id, quantity, added_at, created_at, updated_at)
        VALUES (#{userId}, #{itemId}, #{itemOptionId}, #{itemQuantity}, NOW(), NOW(), NOW())
    </insert>

    <delete id="deleteByCartId" parameterType="int">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

    <delete id="deleteByCartIds" parameterType="list">
        DELETE FROM cart WHERE cart_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAllByUserId" parameterType="int">
        DELETE FROM cart WHERE user_id = #{userId}
    </delete>

    <select id="selectByUserIdAndItemId" parameterType="map" resultType="com.example.shoppingmall.cart.domain.CartDto">
        SELECT * FROM cart
        WHERE user_id = #{userId} AND item_id = #{itemId} LIMIT 1
    </select>

    <select id="countByUserId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM cart WHERE user_id = #{userId}
    </select>

    <update id="updateItemQuantity" parameterType="com.example.shoppingmall.cart.domain.CartDto">
        UPDATE cart
        SET quantity = #{itemQuantity}, updated_at = NOW()
        WHERE cart_id = #{cartId}
    </update>

    <update id="updateQuantity">
        UPDATE cart
        SET quantity = #{quantity}, updated_at = NOW()
        WHERE cart_id = #{cartId}
    </update>


</mapper>