<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.shoppingmall.review.dao.ReviewDao">
    <select id="findById" parameterType="long" resultType="com.example.shoppingmall.review.domain.ReviewDto">
        SELECT r.review_id, r.item_id AS itemId, r.title, r.content, r.image, r.rating, r.view,
               u.name AS username,
               i.name AS productName, i.image AS productImage, i.price AS productPrice
        FROM review r
                 JOIN item i ON r.item_id = i.item_id
                 JOIN user u ON r.user_id = u.user_id
        WHERE r.review_id = #{reviewId}
    </select>


    <update id="incrementView" parameterType="long">
        UPDATE review SET view = view + 1 WHERE review_id = #{reviewId}
    </update>


    <select id="selectAllReviews" resultType="com.example.shoppingmall.review.domain.ReviewDto">
        SELECT
            r.review_id AS reviewId,
            r.item_id AS itemId,
            r.user_id AS userId,
            u.name AS username,
            r.rating,
            r.title,
            r.content,
            r.image,
            r.view,
            r.is_hidden AS isHidden,
            r.created_at AS createdAt,
            r.updated_at AS updatedAt,
            i.name AS productName,
            i.image AS productImage,
            i.price AS productPrice
        FROM review r
                 JOIN item i ON r.item_id = i.item_id
                 JOIN user u ON r.user_id = u.user_id
        WHERE r.is_hidden = FALSE
        ORDER BY r.created_at DESC
    </select>


    <select id="selectReviewsByItemId" resultType="com.example.shoppingmall.review.domain.ReviewDto" parameterType="long">
        SELECT
            r.review_id AS reviewId,
            r.item_id AS itemId,
            r.user_id AS userId,
            r.rating,
            r.title,
            r.content,
            r.image,
            r.view,
            r.is_hidden AS isHidden,
            r.created_at AS createdAt,
            r.updated_at AS updatedAt,
            u.name AS username,
            i.name AS productName,
            i.image AS productImage,
            i.price AS productPrice
        FROM review r
                 JOIN item i ON r.item_id = i.item_id
                 JOIN user u ON r.user_id = u.user_id
        WHERE r.item_id = #{itemId}
          AND r.is_hidden = FALSE
        ORDER BY r.created_at DESC
    </select>

    <select id="findReviewsByItemId" parameterType="int" resultType="com.example.shoppingmall.review.domain.ReviewDto">
        SELECT * FROM review WHERE item_id = #{itemId}
    </select>

</mapper>